# build products
*.o
*.a
*.pyc
__pycache__
*.beam
erl_crash.dump

# file backups
*~

# client binaries
client/cat
client/clientbot
client/cp
client/create
client/ls

server/pthreads/dispatcher
server/pthreads/worker
